@model BigEshop.Domain.ViewModels.Account.ForgotPasswordViewModel

@{
    ViewData["Title"] = "فراموشی کلمه عبور";
}

<div class="auth-form">
    <div class="auth-form-title mb-4 slider-title-desc-center">
        <h2 class="text-center h4 title-line-bottom-center text-muted title-font">@ViewData["Title"]</h2>
    </div>
    <form asp-action="ForgotPassword" id="form-auth">

        <div class="form-floating mb-3">
            <input type="text" asp-for="Email" class="form-control" id="floatingInput">
            <label for="floatingInput">ایمیل</label>
            <span asp-validation-for="Email"></span>
        </div>

        <div class="form-group mt-4">
            <button type="submit" class="btn main-color-one-bg border-0 w-100 d-block py-3">تایید</button>
        </div>
    </form>


</div>