@using BigEshop.Domain.ViewModels.User
@model BigEshop.Domain.ViewModels.User.ChangePasswordViewModel

@{
    ViewData["Title"] = "تغییر کلمه عبور";
}


<div class="col-lg-9">

    <div class="section-title mb-4">
        <div class="section-title-title">
            <h2 class="title-font main-color-two-color h1">
                ویرایش <span class="text-dark">رمز عبور</span>
            </h2>
            <div class="Dottedsquare"></div>
        </div>
    </div>

    <div class="slider-parent content-box rounded-3">
        <div class="container-fluid">
            <form asp-area="UserPanel" asp-controller="User" asp-action="ChangePassword" method="post">
                <div class="form-group">
                    <label class="form-label" asp-for="OldPassword"></label>
                    <input class="form-control" asp-for="OldPassword" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="Password"></label>
                    <input class="form-control" asp-for="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="RePassword"></label>
                    <input class="form-control" asp-for="RePassword" />
                    <span asp-validation-for="RePassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="تغییر" class="btn btn-success" />
                    <span asp-validation-summary="ModelOnly" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

@{
    if (ViewBag.Result != null)
    {
        var res = (ChangePasswordResult)ViewData["Result"];

        if (res == ChangePasswordResult.Success)
        {
            <div class="alert alert-success">
                کلمه عبور با موفقیت ویرایش شد
            </div>
        }
        else if (res == ChangePasswordResult.OldPasswordInvalid)
        {
            <div class="alert alert-danger">
                کلمه عبور فعلی صحیح نمی باشد
            </div>
        }
    }
}


