<div class="content vh-100 vw-100">
    <div class="container-fluid h-100">

        <div class="page-404">
            <div class="text-center">
                <img src="/img/404.gif" alt="خطای 404">
                <h1 class="display-1 fw-bold mt-3">خطای 404</h1>
                <p class="fs-3 text-muted mt-3">صفحه‌ای که به دنبال آن هستید یافت نشد</p>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="btn main-color-one-bg my-4">بازگشت به سایت</a>
            </div>
        </div>

    </div>
</div>