@using BigEshop.Domain.ViewModels.ContactUs
@using BigEshop.Application.Extensions
@model BigEshop.Domain.Models.Contact.Contact

@{
	ViewData["Title"] = "جزییات تماس با ما";
}


<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div clsss="card-header">
				@ViewData["Title"]
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label class="control-label" asp-for="Title"></label>
							<input class="form-control" asp-for="Title" disabled=""/>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label class="control-label" asp-for="FullName"></label>
							<input class="form-control" asp-for="FullName" disabled="" />
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label class="control-label" asp-for="Email"></label>
							<input class="form-control" asp-for="Email" disabled="" />
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label class="control-label" asp-for="Mobile"></label>
							<input class="form-control" asp-for="Mobile" disabled="" />
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label class="control-label" asp-for="Ip"></label>
							<input class="form-control" asp-for="Ip" disabled="" />
						</div>
					</div>
					@if (Model.AnswerUser != null)
					{
						<div class="col-12 col-md-6">
							<div class="form-group">
								<label class="control-label" asp-for="AnswerUser"></label>
								<input class="form-control" value="@Model.AnswerUser?.GetFullName()" disabled="" />
							</div>
						</div>
					}
					<div class="col-12 col-md-12">
						<div class="form-group">
							<label class="control-label" asp-for="Description"></label>
							<textarea class="form-control" asp-for="Description" disabled=""></textarea>
						</div>
					</div>
					@if (!string.IsNullOrEmpty(Model.Answer))
					{
						<div class="col-12 col-md-12">
							<div class="form-group">
								<label class="control-label" asp-for="Answer"></label>
								<textarea class="form-control" asp-for="Answer" disabled=""></textarea>
							</div>
						</div>
					}
					else
					{
						<div class="col-12 col-md-12">
							<partial name="_AnswerContact" model="@(new AnswerContactViewModel())" />
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts{
	<script>
		function OnSuccessAnswerContactUs(res) {
			if (res.status == 100) {
				Swal.fire({
					title: "موفق",
					text: res.message,
					icon: "success"
				}).then((result) => {
					if (result.isConfirmed) {
						location.reload();
					} else {
						setTimeout(() => {
							location.reload();
						}, 5000);
					}
				})
			} else {
				Swal.fire({
					title: "خطا",
					text: res.message,
					icon: "error"
				})
			}
		}
	</script>
}