@using BigEshop.Application.Extensions
@model BigEshop.Domain.Models.Weblog.WeblogComment

@{
    ViewData["Title"] = "جزییات نظر وبلاگ";
}

<h3 class="mt-4 mb-4">جزییات نظر وبلاگ</h3>

@if (Model != null)
{
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                ارسال کننده نظر
            </dt>
            <dd class="col-sm-10">
                @Model.User.GetFullName()
            </dd>
            <dt class="col-sm-2">
                تاریخ ایجاد
            </dt>
            <dd class="col-sm-10">
                @Model.CreateDate.ToShamsi()
            </dd>
            <dt class="col-sm-2">
                وضعیت نظر
            </dt>
            <dd class="col-sm-10">
                @Model.Status.GetDisplayName()
            </dd>
            <dt class="col-sm-2">
                نظر
            </dt>
            <dd class="col-sm-10">
                @Model.Text
            </dd>
        </dl>
    </div>
}

<div>
    <a asp-area="admin" asp-controller="WeblogComments" asp-action="Index" asp-route-WeblogId="@Model?.WeblogId">بازگشت به لیست</a>
</div>

