<div class="main-container container-fluid">
    <div class="inner-body">


        <!-- Page Header -->
        <div class="page-header">
            <div>
                <h2 class="main-content-title tx-24 mg-b-5">پست وبلاگ</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">برنامه</a></li>
                    <li class="breadcrumb-item active" aria-current="page">پست وبلاگ</li>
                </ol>
            </div>
            <div class="d-flex">
                <div class="justify-content-center">
                    <button type="button" class="btn btn-white btn-icon-text my-2 me-2">
                        <i class="fe fe-download me-2"></i> وارد كردن
                    </button>
                    <button type="button" class="btn btn-white btn-icon-text my-2 me-2">
                        <i class="fe fe-filter me-2"></i> فیلتر کردن
                    </button>
                    <button type="button" class="btn btn-primary my-2 btn-icon-text">
                        <i class="fe fe-download-cloud me-2"></i> گزارش دانلود
                    </button>
                </div>
            </div>
        </div>
        <!-- End Page Header -->
        <!-- Row -->
        <div class="row row-sm">
            <div class="col-lg-12 col-md-12 col-md-12">
                <div class="card custom-card">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label"></label>
                            <input type="text" class="form-control" value="عنوان">
                        </div>
                        <div class="form-group">
                            <label class="">دسته بندی</label>
                            <select class="form-control select2 form-select select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                <option>انتخاب کنید</option>
                                <option value="1">پوشاک</option>
                                <option value="2">سبک زندگی</option>
                                <option value="3">علوم پایه</option>
                                <option value="4">سلامتی</option>
                                <option value="5">علوم انسانی</option>
                                <option value="6">کسب و کار</option>
                                <option value="7">بازار یابی</option>
                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-zhw2-container"><span class="select2-selection__rendered" id="select2-zhw2-container" title="انتخاب کنید">انتخاب کنید</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                        </div>
                        <div class="form-group">
                            <label class="">نوع</label>
                            <div class="d-md-flex ad-post-details">
                                <label class="custom-control custom-radio mb-2 me-4">
                                    <input type="radio" class="custom-control-input" name="radios2" value="انتخاب 1">
                                    <span class="custom-control-label">تصویر</span>
                                </label>
                                <label class="custom-control custom-radio  mb-2 me-4">
                                    <input type="radio" class="custom-control-input" name="radios2" value="گزینه 2" checked="">
                                    <span class="custom-control-label">ویدئو</span>
                                </label>
                                <label class="custom-control custom-radio mb-2 me-4">
                                    <input type="radio" class="custom-control-input" name="radios2" value="گزینه 3">
                                    <span class="custom-control-label">سمعی</span>
                                </label>
                                <label class="custom-control custom-radio mb-2">
                                    <input type="radio" class="custom-control-input" name="radios2" value="گزینه 4">
                                    <span class="custom-control-label">متن</span>
                                </label>
                            </div>
                        </div>
                        <div class="ql-wrapper ql-wrapper-demo mb-3">
                            <label class="">شرح پست</label>
                            <div class="ql-toolbar ql-snow"><span class="ql-formats"><span class="ql-header ql-picker"><span class="ql-picker-label" tabindex="0" role="button" aria-expanded="false" aria-controls="ql-picker-options-0"><svg viewBox="0 0 18 18"> <polygon class="ql-stroke" points="7 11 9 13 11 11 7 11"></polygon> <polygon class="ql-stroke" points="7 7 9 5 11 7 7 7"></polygon> </svg></span><span class="ql-picker-options" aria-hidden="true" tabindex="-1" id="ql-picker-options-0"><span tabindex="0" role="button" class="ql-picker-item" data-value="1"></span><span tabindex="0" role="button" class="ql-picker-item" data-value="2"></span><span tabindex="0" role="button" class="ql-picker-item" data-value="3"></span><span tabindex="0" role="button" class="ql-picker-item" data-value="4"></span><span tabindex="0" role="button" class="ql-picker-item" data-value="5"></span><span tabindex="0" role="button" class="ql-picker-item" data-value="6"></span><span tabindex="0" role="button" class="ql-picker-item ql-selected"></span></span></span><select class="ql-header" style="display: none;"><option value="1"></option><option value="2"></option><option value="3"></option><option value="4"></option><option value="5"></option><option value="6"></option><option selected="selected"></option></select></span><span class="ql-formats"><button type="button" class="ql-bold"><i class="la la-bold" aria-hidden="true"></i></button><button type="button" class="ql-italic"><i class="la la-italic" aria-hidden="true"></i></button><button type="button" class="ql-underline"><i class="la la-underline" aria-hidden="true"></i></button><button type="button" class="ql-strike"><i class="la la-strikethrough" aria-hidden="true"></i></button></span><span class="ql-formats"><button type="button" class="ql-list" value="ordered"><i class="la la-list-ol" aria-hidden="true"></i></button><button type="button" class="ql-list" value="bullet"><i class="la la-list-ul" aria-hidden="true"></i></button></span><span class="ql-formats"><button type="button" class="ql-link"><i class="la la-link" aria-hidden="true"></i></button><button type="button" class="ql-image"><i class="la la-image" aria-hidden="true"></i></button><button type="button" class="ql-video"><i class="la la-film" aria-hidden="true"></i></button></span></div><div id="quillEditor" class="ql-container ql-snow"><div class="ql-editor ql-blank" data-gramm="false" contenteditable="true"><p><br></p></div><div class="ql-clipboard" contenteditable="true" tabindex="-1"></div><div class="ql-tooltip ql-hidden"><a class="ql-preview" target="_blank" href="about:blank"></a><input type="text" data-formula="e=mc^2" data-link="https://quilljs.com" data-video="Embed URL"><a class="ql-action"></a><a class="ql-remove"></a></div></div>
                        </div>
                        <label class="">آپلود فایل</label>
                        <div class="p-4 border rounded-6 mb-4 form-group">
                            <div>
                                <input id="demo" type="file" name="files" accept="image/jpg, image/jpeg, image/png, text/html, application/zip, text/css, text/js" multiple="" class="ff_fileupload_hidden"><div class="ff_fileupload_wrap"><div class="ff_fileupload_dropzone_wrap"><button class="ff_fileupload_dropzone" type="button" aria-label="Browse, drag-and-drop, or paste files to upload"></button></div><table class="ff_fileupload_uploads"></table></div>
                            </div>
                        </div>
                        <div class="form-group mb-0">
                            <label class="">ادرس ویدیویی را بارگذاری کنید</label>
                            <input type="text" class="form-control" placeholder="https://videos.com" value="https://www.youtube.com/embed/tMWkeBIohBs">
                        </div>
                    </div>
                    <div class="card-footer mb-1">
                        <a href="javascript:void(0);" class="btn btn-primary">پست</a>
                        <a href="javascript:void(0);" class="btn btn-danger">لغو کردن</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Row -->


    </div>
</div>