<div class="container-fluid">
	<div class="inner-body">


		<!-- Page Header -->
		<div class="page-header">
			<div>
				<h2 class="main-content-title tx-24 mg-b-5">وبلاگ</h2>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">رابط کاربری پیشرفته</a></li>
					<li class="breadcrumb-item active" aria-current="page">وبلاگ</li>
				</ol>
			</div>
			<div class="d-flex">
				<div class="justify-content-center">
					<button type="button" class="btn btn-white btn-icon-text my-2 me-2">
						وارد كردن<i class="fe fe-download me-2"></i>
					</button>
					<button type="button" class="btn btn-white btn-icon-text my-2 me-2">
						فیلتر<i class="fe fe-filter me-2"></i>
					</button>
					<button type="button" class="btn btn-primary my-2 btn-icon-text">
						گزارش را بارگیری کنید<i class="fe fe-download-cloud me-2"></i>
					</button>
				</div>
			</div>
		</div>
		<!-- End Page Header -->
		<!-- Row -->
		<div class="row row-sm">
			<div class="col-xl-4 col-md-4">
				<div class="card custom-card">
					<img class="card-img-top w-100 blog-img" src="assets/img/media/4.jpg" alt="">
					<div class="card-body">
						<h4 class="main-content-label mb-3 tx-16">عنوان وبلاگ</h4>
						<p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
						<a class="btn ripple btn-primary" href="#">ادامه مطلب<i class="fe fe-arrow-left ms-1"></i></a>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-4">
				<div class="card custom-card">
					<img class="card-img-top w-100 blog-img" src="assets/img/media/2.jpg" alt="">
					<div class="card-body">
						<h4 class="main-content-label mb-3 tx-16">عنوان وبلاگ</h4>
						<p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
						<a class="btn ripple btn-primary" href="#">ادامه مطلب<i class="fe fe-arrow-left ms-1"></i></a>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-4">
				<div class="card custom-card">
					<img class="card-img-top w-100 blog-img" src="assets/img/media/3.jpg" alt="">
					<div class="card-body">
						<label class="main-content-label mb-3 tx-16">عنوان وبلاگ</label>
						<p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
						<a class="btn ripple btn-primary" href="#">ادامه مطلب<i class="fe fe-arrow-left ms-1"></i></a>
					</div>
				</div>
			</div>
		</div>
		<!-- End Row -->
		<!-- Row -->
		<div class="row row-sm">
			<div class="col-xl-4 col-md-4">
				<div class="card custom-card text-center">
					<img class="card-img-top w-100 blog-img" src="assets/img/media/1.jpg" alt="">
					<div class="card-body">
						<label class="main-content-label mb-3 tx-16 ">عنوان وبلاگ</label>
						<p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
						<a class="btn ripple btn-outline-secondary btn-sm" href="#">ادامه مطلب </a>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-4">
				<div class="card custom-card text-center">
					<img class="card-img-top w-100 blog-img" src="assets/img/media/5.jpg" alt="">
					<div class="card-body">
						<label class="main-content-label mb-3 tx-16 ">عنوان وبلاگ</label>
						<p class="card-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
						<a class="btn ripple btn-outline-secondary btn-sm" href="#">ادامه مطلب</a>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-4">
				<div class="card custom-card text-center">
					<img class="card-img-top w-100 blog-img" src="assets/img/media/6.jpg" alt="">
					<div class="card-body">
						<label class="main-content-label mb-3 tx-16 ">عنوان وبلاگ</label>
						<p class="card-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
						<a class="btn ripple btn-outline-secondary btn-sm" href="#">ادامه مطلب</a>
					</div>
				</div>
			</div>
		</div>
		<!-- End Row -->
		<!-- Row -->
		<div class="row row-sm">
			<div class="col-xl-3 col-lg-6  col-sm-6">
				<div class="card custom-card">
					<img class="card-img-top w-100 w-100 t-img" src="assets/img/media/7.jpg" alt="">
					<div class="card-body">
						<a href="#"><label class="main-content-label tx-16 mb-3">عنوان وبلاگ</label></a>
						<p class="card-text mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-6  col-sm-6">
				<div class="card custom-card">
					<img class="card-img-top w-100 w-100 t-img" src="assets/img/media/8.jpg" alt="">
					<div class="card-body">
						<a href="#"><label class="main-content-label tx-16 mb-3">عنوان وبلاگ</label></a>
						<p class="card-text mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-6  col-sm-6">
				<div class="card custom-card">
					<img class="card-img-top w-100 w-100 t-img" src="assets/img/media/9.jpg" alt="">
					<div class="card-body">
						<a href="#"><label class="main-content-label tx-16 mb-3">عنوان وبلاگ</label></a>
						<p class="card-text mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-6  col-sm-6">
				<div class="card custom-card">
					<img class="card-img-top w-100 w-100 t-img" src="assets/img/media/10.jpg" alt="">
					<div class="card-body">
						<a href="#"><label class="main-content-label tx-16 mb-3">عنوان وبلاگ</label></a>
						<p class="card-text mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
					</div>
				</div>
			</div>
		</div>
		<!-- End Row -->
		<!-- Row -->
		<div class="row row-sm">
			<div class="col-lg-6">
				<div class="card card-aside custom-card">
					<a href="#" class="card-aside-column  cover-image" data-image-src="assets/img/media/4.jpg" style="background: url(&quot;assets/img/media/4.jpg&quot;) center center;"></a>
					<div class="card-body">
						<a href="#"><label class="main-content-label tx-16 mb-3">عنوان وبلاگ</label></a>
						<div class="">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</div>
						<div class="d-flex align-items-center pt-3 mt-auto">
							<div class="main-img-user avatar-sm me-3">
								<img src="assets/img/users/1.jpg" class="w-10 rounded-circle" alt="avatar-img">
							</div>
							<div>
								<a href="#" class="text-default">آلیکا نستله </a>
								<small class="d-block text-muted">15 دقیقه قبل</small>
							</div>
							<div class="ms-auto text-muted">
								<a href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><i class="far fa-heart ms-1"></i></a>
								<a href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><i class="far fa-thumbs-up"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card card-aside custom-card">
					<div class="card-body">
						<a href="#"><label class="main-content-label tx-16 mb-3">عنوان وبلاگ</label></a>
						<div class="">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</div>
						<div class="d-flex align-items-center pt-3 mt-auto">
							<div class="main-img-user avatar-sm me-3">
								<img src="assets/img/users/2.jpg" class="w-10 rounded-circle" alt="avatar-img">
							</div>
							<div>
								<a href="#" class="text-default">آلیکا نستله </a>
								<small class="d-block text-muted">15 دقیقه قبل</small>
							</div>
							<div class="ms-auto text-muted">
								<a href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><i class="far fa-heart ms-1"></i></a>
								<a href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><i class="far fa-thumbs-up"></i></a>
							</div>
						</div>
					</div>
					<a href="#" class="card-aside-column  cover-image" data-image-src="assets/img/media/5.jpg" style="background: url(&quot;assets/img/media/5.jpg&quot;) center center;"></a>
				</div>
			</div>
		</div>
		<!-- End Row -->


	</div>
</div>