<div class="modal fade bd-example-modal-lg"
     id="large-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true"
     style="direction: rtl">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="large-modal-title"></h5>
            </div>
            <div class="modal-body p-5" id="large-modal-body" style="direction: rtl">

            </div>
        </div>
    </div>
</div>
