<div class="float-btn position-relative">
    <div class="container-fluid floatbtnpos">
        <!-- contact us floating -->
        <div class=" btn_collapzion" id="btncollapzion"></div>
        <div class="" id="contactOverlay"></div>
        <!-- end contact us floating -->
    </div>
</div>
