@* <div class="float-btn">
    <div class="container-fluid">
        <!-- contact us floating -->
        <div class="btn_collapzion" id="btncollapzion" onclick="showContactModal('@Url.Action("ShowContactModal", "Home")')"></div>
        <div class="" id="contactOverlay"></div>
        <!-- end contact us floating -->
    </div>
</div> *@

<button class="floating-btn" onclick="showContactModal('@Url.Action("ShowContactModal", "Home")')">
    <i class="bi bi-chat-dots"></i>
</button>