<div class="float-btn">
    <div class="container-fluid">
        <!-- contact us floating -->
        <div class=" btn_collapzion" id="btncollapzion"></div>
        <div class="" id="contactOverlay"></div>
        <!-- end contact us floating -->
    </div>
</div>
