<!doctype html>
<html class="no-js" dir="rtl" lang="Fa_IR">
<head>
<partial name="_MetaTags" />
<title>@ViewBag.Title | فروشگاه</title>
<!-- Place favicon.ico in the root directory -->
<partial name="_StyleReferences" />
</head>
<body>
    <!-- start header -->
    @await Component.InvokeAsync("Header")
    <!-- end header -->

    <!-- start mega menu -->
    @await Component.InvokeAsync("MegaMenu")
    <!-- end mega menu -->
    @RenderBody()
    <!-- start footer -->
    <partial name="_Footer" />
    <!-- end footer -->

    <!-- start bottom menu -->
    <partial name="_MobileFooter" />
    <!-- end bottom menu -->

    <!--start cart canvas-->
    @if (User.Identity.IsAuthenticated)
        @await Component.InvokeAsync("CardCanvas")
    <!--end cart canvas-->

    <partial name="_SiteModal"/>
    <partial name="_JsReferences" />
    <partial name="_FloatBtn" />
    <partial name="_SiteNotification" />
    @RenderSection("Scripts", false)
</body>
</html>

