<div class="modal fade bd-example-modal-sm chatmodal"
     id="small-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="mySmallModalLabel"
     aria-hidden="true"
     style="direction: rtl">
     <div class="modal-dialog modal-sm">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="small-modal-title"></h5>
             </div>
             <div class="modal-body p-5" id="small-modal-body" style="direction: rtl">

             </div>
         </div>
     </div>
</div>