<div class="main-container container-fluid">
	<div class="inner-body">


		<!-- Page Header -->
		<div class="page-header">
			<div>
				<h2 class="main-content-title tx-24 mg-b-5">گفتگو</h2>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="javascript:void(0);">پیشرفته</a></li>
					<li class="breadcrumb-item active" aria-current="page">گفتگو</li>
				</ol>
			</div>
			<div class="d-flex">
				<div class="justify-content-center">
					<button type="button" class="btn btn-white btn-icon-text my-2 me-2">
						<i class="fe fe-download me-2"></i> وارد کردن
					</button>
					<button type="button" class="btn btn-white btn-icon-text my-2 me-2">
						<i class="fe fe-filter me-2"></i> فیلتر
					</button>
					<button type="button" class="btn btn-primary my-2 btn-icon-text">
						<i class="fe fe-download-cloud me-2"></i> دانلود گزارش
					</button>
				</div>
			</div>
		</div>
		<!-- End Page Header -->
		<!-- Row -->
		<div class="row row-sm">
			<div class="col-sm-12 col-md-12 col-lg-12 col-xl-5 col-xxl-3">
				<div class="card custom-card">
					<div class="main-content-app pt-0">
						<div class="main-content-left main-content-left-chat">

							<div class="card-body">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="جستجو کردن ...">
									<span class="">
										<button class="btn ripple btn-primary" type="button">جستجو کردن</button>
									</span>
								</div>
							</div>
							<nav class="nav main-nav-line main-nav-line-chat card-body">
								<a class="nav-link active" data-bs-toggle="tab" href="#ChatList">گپ اخیر</a>
								<a class="nav-link" data-bs-toggle="tab" href="#ChatCalls">فراخوانی</a>
								<a class="nav-link" data-bs-toggle="tab" href="#ChatContacts">مخاطب</a>
							</nav>
							<div class="tab-content main-chat-list">
								<div class="tab-pane active" id="ChatList">
									<div class="main-chat-list tab-pane">
										<a class="media new" href="javascript:void(0);">
											<div class="main-img-user online">
												<img alt="" src="./assets/img/users/5.jpg"> <span>2</span>
											</div>
											<div class="media-body">
												<div class="media-contact-name">
													<span>سقراط ایتومای</span> <span>2 ساعت</span>
												</div>
												<p>اکنون، بیش از پیش، بی رنگ و قبل از تنگ</p>
											</div>
										</a>
										<a class="media new" href="javascript:void(0);">
											<div class="main-img-user">
												<img alt="" src="./assets/img/users/6.jpg"> <span>1</span>
											</div>
											<div class="media-body">
												<div class="media-contact-name">
													<span>دکستر دلا کروز</span> <span>3 ساعت</span>
												</div>
												<p>زمان معینی، گفتنی است که خود از نیکومات روشن، نیمه ای</p>
											</div>
										</a>
										<a class="media selected" href="javascript:void(0);">
											<div class="main-img-user online"><img alt="" src="./assets/img/users/9.jpg"></div>
											<div class="media-body">
												<div class="media-contact-name">
													<span>رینانت لابارز</span> <span>10 ساعت</span>
												</div>
												<p>اکنون، بیش از پیش، بی رنگ و قبل از تنگ</p>
											</div>
										</a>
										<a class="media new" href="javascript:void(0);">
											<div class="main-img-user"><img alt="" src="./assets/img/users/11.jpg"></div>
											<div class="media-body">
												<div class="media-contact-name">
													<span>جویس چوآ</span> <span>2 روز</span>
												</div>
												<p>زمان معینی، گفتنی است که خود از نیکومات روشن، نیمه ای</p>
											</div>
										</a>
										<a class="media new" href="javascript:void(0);">
											<div class="main-img-user"><img alt="" src="./assets/img/users/4.jpg"></div>
											<div class="media-body">
												<div class="media-contact-name">
													<span>رولاندو پالوسو</span> <span>2 روز</span>
												</div>
												<p>اکنون، بیش از پیش، بی رنگ و قبل از تنگ</p>
											</div>
										</a>
										<a class="media new" href="javascript:void(0);">
											<div class="main-img-user">
												<img alt="" src="./assets/img/users/7.jpg"> <span>1</span>
											</div>
											<div class="media-body">
												<div class="media-contact-name">
													<span>آریانا مونینو</span> <span>3 روز</span>
												</div>
												<p>زمان معینی، گفتنی است که خود از نیکومات روشن، نیمه ای</p>
											</div>
										</a>
										<a class="media new" href="javascript:void(0);">
											<div class="main-img-user"><img alt="" src="./assets/img/users/8.jpg"></div>
											<div class="media-body">
												<div class="media-contact-name">
													<span>ماریسل ویلالون</span> <span>4 روز</span>
												</div>
												<p>اکنون، بیش از پیش، بی رنگ و قبل از تنگ</p>
											</div>
										</a>
										<a class="media new" href="javascript:void(0);">
											<div class="main-img-user"><img alt="" src="./assets/img/users/12.jpg"></div>
											<div class="media-body">
												<div class="media-contact-name">
													<span>مریجین پچون</span> <span>5 روز</span>
												</div>
												<p>زمان معینی، گفتنی است که خود از نیکومات روشن، نیمه ای</p>
											</div>
										</a>
										<a class="media new" href="javascript:void(0);">
											<div class="main-img-user"><img alt="" src="./assets/img/users/5.jpg"></div>
											<div class="media-body">
												<div class="media-contact-name">
													<span>لاولی دلا کروز</span> <span>5 روز</span>
												</div>
												<p>زمان معینی، گفتنی است که خود از نیکومات روشن، نیمه ای</p>
											</div>
										</a>
										<a class="media new" href="javascript:void(0);">
											<div class="main-img-user"><img alt="" src="./assets/img/users/10.jpg"></div>
											<div class="media-body">
												<div class="media-contact-name">
													<span>دانیل پدیلا</span> <span>5 روز</span>
												</div>
												<p>زمان معینی، گفتنی است که خود از نیکومات روشن، نیمه ای</p>
											</div>
										</a>
										<a class="media new" href="javascript:void(0);">
											<div class="main-img-user"><img alt="" src="./assets/img/users/3.jpg"></div>
											<div class="media-body">
												<div class="media-contact-name">
													<span>جان پرتس</span> <span>6 روز</span>
												</div>
												<p>زمان معینی، گفتنی است که خود از نیکومات روشن، نیمه ای</p>
											</div>
										</a>
										<a class="media new" href="javascript:void(0);">
											<div class="main-img-user"><img alt="" src="./assets/img/users/7.jpg"></div>
											<div class="media-body">
												<div class="media-contact-name">
													<span>رایمارت سانتیاگو</span> <span>6 روز</span>
												</div>
												<p>اکنون، بیش از پیش، بی رنگ و قبل از تنگ</p>
											</div>
										</a>
										<a class="media border-bottom-0" href="javascript:void(0);">
											<div class="main-img-user"><img alt="" src="./assets/img/users/6.jpg"></div>
											<div class="media-body">
												<div class="media-contact-name">
													<span>ساموئل لرین</span> <span>7 روز</span>
												</div>
												<p>اکنون، بیش از پیش، بی رنگ و قبل از تنگ</p>
											</div>
										</a>
									</div>
									<!-- main-chat-list -->
								</div><!-- main-chat-list -->
								<div class="tab-pane" id="ChatCalls">
									<a href="javascript:void(0);" class="d-flex align-items-center media">
										<div class="mb-0 me-2">
											<div class="main-img-user online">
												<img alt="" src="./assets/img/users/5.jpg"> <span>2</span>
											</div>
										</div>
										<div class="align-items-center justify-content-between">
											<div class="media-body ms-2">
												<div class="media-contact-name">
													<span>آملیا تیلور</span>
													<span></span>
												</div>
												<div class="d-flex align-items-center">
													<i class="fe fe-arrow-up-right text-success me-2"></i>
													<p class="text-muted tx-13">امروز, 05:30 صبح</p>
												</div>
											</div>
										</div>
										<div class="ms-auto">
											<i class="contact-status text-success fe fe-phone-outgoing"></i>
										</div>
									</a>
									<a href="javascript:void(0);" class="d-flex align-items-center media">
										<div class="mb-0 me-2">
											<div class="main-img-user online">
												<img alt="" src="./assets/img/users/4.jpg"> <span>2</span>
											</div>
										</div>
										<div class="align-items-center justify-content-between">
											<div class="media-body ms-2">
												<div class="media-contact-name">
													<span>گریس راسل</span>
													<span></span>
												</div>
												<div class="d-flex align-items-center">
													<i class="fe fe-arrow-up-right text-success me-2"></i>
													<p class="text-muted tx-13">امروز, 12:15 عصر</p>
												</div>
											</div>
										</div>
										<div class="ms-auto">
											<i class="contact-status text-success fe fe-phone-outgoing"></i>
										</div>
									</a>
									<a href="javascript:void(0);" class="d-flex align-items-center media">
										<div class="mb-0 me-2">
											<div class="main-img-user online">
												<img alt="" src="./assets/img/users/9.jpg"> <span>2</span>
											</div>
										</div>
										<div class="align-items-center justify-content-between">
											<div class="media-body ms-2">
												<div class="media-contact-name">
													<span>جوآن میلر</span>
													<span></span>
												</div>
												<div class="d-flex align-items-center">
													<i class="fe fe-arrow-up-right text-success me-2"></i>
													<p class="text-muted tx-13">دیروز, 02:15 عصر</p>
												</div>
											</div>
										</div>
										<div class="ms-auto">
											<i class="contact-status text-success fe fe-phone-incoming"></i>
										</div>
									</a>
									<a href="javascript:void(0);" class="d-flex align-items-center media">
										<div class="mb-0 me-2">
											<div class="main-img-user online">
												<img alt="" src="./assets/img/users/12.jpg"> <span>2</span>
											</div>
										</div>
										<div class="align-items-center justify-content-between">
											<div class="media-body ms-2">
												<div class="media-contact-name">
													<span>کیمبرلی نولان</span>
													<span></span>
												</div>
												<div class="d-flex align-items-center">
													<i class="fe fe-arrow-down-left text-danger me-2"></i>
													<p class="text-muted tx-13">دیروز, 05:39 شب</p>
												</div>
											</div>
										</div>
										<div class="ms-auto">
											<i class="contact-status text-danger fe fe-video"></i>
										</div>
									</a>
									<a href="javascript:void(0);" class="d-flex align-items-center media">
										<div class="mb-0 me-2">
											<div class="main-img-user online">
												<img alt="" src="./assets/img/users/6.jpg"> <span>2</span>
											</div>
										</div>
										<div class="align-items-center justify-content-between">
											<div class="media-body ms-2">
												<div class="media-contact-name">
													<span>آندره مکای</span>
													<span></span>
												</div>
												<div class="d-flex align-items-center">
													<i class="fe fe-arrow-down-left text-danger me-2"></i>
													<p class="text-muted tx-13">29 ژوئن 2024, 03:21 صبح</p>
												</div>
											</div>
										</div>
										<div class="ms-auto">
											<i class="contact-status text-danger fe fe-phone-call"></i>
										</div>
									</a>
								</div>
								<div class="tab-pane" id="ChatContacts">
									<a href="javascript:void(0);" class="d-flex align-items-center media">
										<div class="mb-0 me-2">
											<div class="main-img-user online">
												<img alt="" src="./assets/img/users/3.jpg"> <span>2</span>
											</div>
										</div>
										<div class="align-items-center justify-content-between">
											<div class="media-body ms-2">
												<div class="media-contact-name">
													<span>لیلیان راس</span>
													<span></span>
												</div>
												<div class="d-flex align-items-center">
													<p class="text-muted tx-13">خانه</p>
												</div>
											</div>
										</div>
										<div class="ms-auto">
											<i class="contact-status text-primary fe fe-message-square  me-2"></i>
											<i class="contact-status text-success fe fe-phone-call me-2"></i>
											<i class="contact-status text-danger fe fe-video"></i>
										</div>
									</a>
									<a href="javascript:void(0);" class="d-flex align-items-center media">
										<div class="mb-0 me-2">
											<div class="main-img-user online">
												<img alt="" src="./assets/img/users/5.jpg"> <span>2</span>
											</div>
										</div>
										<div class="align-items-center justify-content-between">
											<div class="media-body ms-2">
												<div class="media-contact-name">
													<span>کاربر </span>
													<span></span>
												</div>
												<div class="d-flex align-items-center">
													<p class="text-muted tx-13">سیار</p>
												</div>
											</div>
										</div>
										<div class="ms-auto">
											<i class="contact-status text-primary fe fe-message-square  me-2"></i>
											<i class="contact-status text-success fe fe-phone-call me-2"></i>
											<i class="contact-status text-danger fe fe-video"></i>
										</div>
									</a>
									<a href="javascript:void(0);" class="d-flex align-items-center media">
										<div class="mb-0 me-2">
											<div class="main-img-user online">
												<img alt="" src="./assets/img/users/4.jpg"> <span>2</span>
											</div>
										</div>
										<div class="align-items-center justify-content-between">
											<div class="media-body ms-2">
												<div class="media-contact-name">
													<span>نیلوفر</span>
													<span></span>
												</div>
												<div class="d-flex align-items-center">
													<p class="text-muted tx-13">دفتر</p>
												</div>
											</div>
										</div>
										<div class="ms-auto">
											<i class="contact-status text-primary fe fe-message-square  me-2"></i>
											<i class="contact-status text-success fe fe-phone-call me-2"></i>
											<i class="contact-status text-danger fe fe-video"></i>
										</div>
									</a>
									<a href="javascript:void(0);" class="d-flex align-items-center media">
										<div class="mb-0 me-2">
											<div class="main-img-user online">
												<img alt="" src="./assets/img/users/5.jpg"> <span>2</span>
											</div>
										</div>
										<div class="align-items-center justify-content-between">
											<div class="media-body ms-2">
												<div class="media-contact-name">
													<span>شقایق</span>
													<span></span>
												</div>
												<div class="d-flex align-items-center">
													<p class="text-muted tx-13">خانه</p>
												</div>
											</div>
										</div>
										<div class="ms-auto">
											<i class="contact-status text-primary fe fe-message-square  me-2"></i>
											<i class="contact-status text-success fe fe-phone-call me-2"></i>
											<i class="contact-status text-danger fe fe-video"></i>
										</div>
									</a>
									<a href="javascript:void(0);" class="d-flex align-items-center media">
										<div class="mb-0 me-2">
											<div class="main-img-user online">
												<img alt="" src="./assets/img/users/8.jpg"> <span>2</span>
											</div>
										</div>
										<div class="align-items-center justify-content-between">
											<div class="media-body ms-2">
												<div class="media-contact-name">
													<span>محمد</span>
													<span></span>
												</div>
												<div class="d-flex align-items-center">
													<p class="text-muted tx-13">سیار</p>
												</div>
											</div>
										</div>
										<div class="ms-auto">
											<i class="contact-status text-primary fe fe-message-square  me-2"></i>
											<i class="contact-status text-success fe fe-phone-call me-2"></i>
											<i class="contact-status text-danger fe fe-video"></i>
										</div>
									</a>
								</div>
							</div>
							<!-- main-chat-list -->
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-12 col-xl-7 col-xxl-6">
				<div class="card custom-card">
					<div class="main-content-app pt-0">
						<div class="main-content-body main-content-body-chat">
							<div class="main-chat-header pt-3">
								<div class="main-img-user online"><img alt="avatar" src="./assets/img/users/1.jpg"></div>
								<div class="main-chat-msg-name">
									<h6>کاربر</h6>
									<span class="dot-label bg-success"></span><small class="me-3">انلاین</small>
								</div>
								<nav class="nav">
									<a class="nav-link" href="javascript:void(0);" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										<i class="fe fe-more-horizontal"></i>
									</a>
									<div class="dropdown-menu dropdown-menu-end shadow">
										<a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-phone-call me-1"></i> تماس تلفنی</a>
										<a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-video me-1"></i> تماس تصویری</a>
										<a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-user-plus me-1"></i> مخاطب را اضافه کنید</a>
										<a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-trash-2 me-1"></i> حذف</a>
									</div>
									<a class="nav-link" data-bs-toggle="tooltip" href="javascript:void(0);" title="تماس تلفنی"><i class="fe fe-phone-call"></i></a>
									<a class="nav-link" data-bs-toggle="tooltip" href="javascript:void(0);" title="تماس تصویری"><i class="fe fe-video"></i></a>
									<a class="nav-link" data-bs-toggle="tooltip" href="javascript:void(0);" title="مخاطب را اضافه کنید"><i class="fe fe-user-plus"></i></a>
									<a class="nav-link" data-bs-toggle="tooltip" href="javascript:void(0);" title="حذف"><i class="fe fe-trash-2"></i></a>
								</nav>
							</div><!-- main-chat-header -->
							<div class="main-chat-body" id="ChatBody">
								<div class="content-inner">
									<label class="main-chat-time"><span>3 چند روز قبل</span></label>
									<div class="media flex-row-reverse">
										<div class="main-img-user online"><img alt="avatar" src="./assets/img/users/2.jpg"></div>
										<div class="media-body">
											<div class="main-msg-wrapper">
												لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
											</div>
											<div class="main-msg-wrapper2">
												لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
											</div>
											<div>
												<span>9:48 صبح</span> <a href="javascript:void(0);"><i class="icon ion-android-more-horizontal"></i></a>
											</div>
										</div>
									</div>
									<div class="media">
										<div class="main-img-user online"><img alt="avatar" src="./assets/img/users/1.jpg"></div>
										<div class="media-body">
											<div class="main-msg-wrapper">
												لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
											</div>
											<div>
												<span>9:32 صبح</span> <a href="javascript:void(0);"><i class="icon ion-android-more-horizontal"></i></a>
											</div>
										</div>
									</div>
									<div class="media flex-row-reverse">
										<div class="main-img-user online"><img alt="avatar" src="./assets/img/users/2.jpg"></div>
										<div class="media-body">
											<div class="main-msg-wrapper">
												صنعت چاپ و با استفاده از طراحان گرافیک است
											</div>
											<div>
												<span>11:22 صبح</span> <a href="javascript:void(0);"><i class="icon ion-android-more-horizontal"></i></a>
											</div>
										</div>
									</div><label class="main-chat-time"><span>دیروز</span></label>
									<div class="media">
										<div class="main-img-user online"><img alt="avatar" src="./assets/img/users/1.jpg"></div>
										<div class="media-body">
											<div class="main-msg-wrapper">
												صنعت چاپ و با استفاده از طراحان گرافیک است
											</div>
											<div>
												<span>9:32 صبح</span> <a href="javascript:void(0);"><i class="icon ion-android-more-horizontal"></i></a>
											</div>
										</div>
									</div>
									<div class="media flex-row-reverse">
										<div class="main-img-user online"><img alt="avatar" src="./assets/img/users/2.jpg"></div>
										<div class="media-body">
											<div class="main-msg-wrapper">
												لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
											</div>
											<div class="main-msg-wrapper2">
												صنعت چاپ و با استفاده از طراحان گرافیک است
											</div>
											<div>
												<span>9:48 صبح</span> <a href="javascript:void(0);"><i class="icon ion-android-more-horizontal"></i></a>
											</div>
										</div>
									</div><label class="main-chat-time"><span>امروز</span></label>
									<div class="media">
										<div class="main-img-user online"><img alt="avatar" src="./assets/img/users/1.jpg"></div>
										<div class="media-body">
											<div class="main-msg-wrapper">
												صنعت چاپ و با استفاده از طراحان گرافیک است
											</div>
											<div class="pd-0">
												<img alt="avatar" class="wd-150 mb-1" src="./assets/img/media/3.jpg">
												<img alt="avatar" class="wd-150 mb-1" src="./assets/img/media/4.jpg">
												<img alt="avatar" class="wd-150 mb-1" src="./assets/img/media/5.jpg">
											</div>
											<div>
												<span>10:12 صبح</span> <a href="javascript:void(0);"><i class="icon ion-android-more-horizontal"></i></a>
											</div>
										</div>
									</div>
									<div class="media flex-row-reverse">
										<div class="main-img-user online"><img alt="avatar" src="./assets/img/users/2.jpg"></div>
										<div class="media-body">
											<div class="main-msg-wrapper">
												صنعت چاپ و با استفاده از طراحان گرافیک است
											</div>
											<div class="main-msg-wrapper2">
												لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
											</div>
											<div>
												<span>09:40 صبح</span> <a href="javascript:void(0);"><i class="icon ion-android-more-horizontal"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="main-chat-footer">
								<nav class="nav">
									<a class="nav-link" data-bs-toggle="tooltip" href="javascript:void(0);" title="اضافه کردن عکس"><i class="fe fe-image"></i></a>
									<a class="nav-link" data-bs-toggle="tooltip" href="javascript:void(0);" title="یک پرونده را ضمیمه کنید"><i class="fe fe-paperclip"></i></a>
									<a class="nav-link" data-bs-toggle="tooltip" href="javascript:void(0);" title="ایموجی"><i class="far fa-smile"></i></a>
									<a class="nav-link" data-bs-toggle="tooltip" href="javascript:void(0);" title="ضبط صدا"><i class="fe fe-mic"></i></a>
								</nav>
								<input class="form-control" placeholder="پیام خود را در اینجا تایپ کنید ..." type="text">
								<a class="main-msg-send" href="javascript:void(0);"><i class="far fa-paper-plane"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-3">
				<div class="card custom-card chat-account">
					<div class="main-content-app d-block pt-0">
						<div class="card-body text-center">
							<div class="user-lock text-center">
								<div class="dropdown text-end">
									<a href="javascript:;" class="option-dots text-muted" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="fe fe-more-vertical fs-16"></i> </a>
									<div class="dropdown-menu dropdown-menu-end"> <a class="dropdown-item" href="javascript:;"><i class="fe fe-message-square me-2"></i> پیام</a> <a class="dropdown-item" href="javascript:;"><i class="fe fe-edit-2 me-2"></i> ویرایش</a> <a class="dropdown-item" href="javascript:;"><i class="fe fe-eye me-2"></i> مشاهده</a> <a class="dropdown-item" href="javascript:;"><i class="fe fe-trash-2 me-2"></i> حذف</a> </div>
								</div>
								<a href="profile.html"><img alt="avatar" class="rounded-10" src="./assets/img/users/1.jpg"></a>
							</div>
							<a href="profile.html"><h5 class=" mb-1 mt-3 main-content-label">هاروی ماتوس</h5></a>
							<p class="mb-0 mt-1 text-muted">طراح وب</p>
						</div>
						<div class="card-body">
							<h6 class="mb-3 tx-semibold">جزئیات تماس</h6>
							<div class="d-flex">
								<div>
									<p class="contact-icon text-primary m-0"><i class="fe fe-phone"></i></p>
								</div>
								<div class="ms-3">
									<p class="tx-13 mb-0 tx-semibold">تلفن</p>
									<p class="tx-12 text-muted">+1 135792468</p>
								</div>
							</div>
							<div class="d-flex">
								<div>
									<p class="contact-icon text-primary m-0"><i class="fe fe-mail"></i></p>
								</div>
								<div class="ms-3">
									<p class="tx-13 mb-0 tx-semibold">ایمیل</p>
									<p class="tx-12 text-muted">harvey@gmail.com.</p>
								</div>
							</div>
							<div class="d-flex">
								<div>
									<p class="contact-icon text-primary m-0"><i class="fe fe-map-pin"></i></p>
								</div>
								<div class="ms-3">
									<p class="tx-13 mb-0 tx-semibold">آدرس</p>
									<p class="tx-12 text-muted mb-0">کالیفرنیا.</p>
								</div>
							</div>
						</div>
						<div class="card-body">
							<h6 class="mb-3 tx-semibold">فایل‌های اشتراکی</h6>
							<div class="media mb-3">
								<p class="contact-icon text-primary m-0"><i class="mdi mdi-file-image"></i></p>
								<div class="media-body ms-3 d-flex">
									<div class="">
										<p class="tx-13 text-dark mb-0 tx-semibold">تصویر۱.jpg</p>
										<span class="tx-12 text-muted">200 کیلوبایت</span>
									</div>
									<div class="ms-auto my-auto">
										<a href="javascript:void(0);" class="btn px-0"><i class="fe fe-download my-auto text-muted tx-18"></i></a>
									</div>
								</div>
							</div>
							<div class="media mb-3">
								<p class="contact-icon text-danger m-0"><i class="mdi mdi-file-pdf"></i></p>
								<div class="media-body ms-3 d-flex">
									<div class="">
										<p class="tx-13 text-dark mb-0 tx-semibold">سند۱.pdf</p>
										<span class="tx-12 text-muted">48 کیلوبایت</span>
									</div>
									<div class="ms-auto my-auto">
										<a href="javascript:void(0);" class="btn px-0"><i class="fe fe-download my-auto text-muted tx-18"></i></a>
									</div>
								</div>
							</div>
							<div class="media mb-3">
								<p class="contact-icon text-info m-0"><i class="mdi mdi-file-word"></i></p>
								<div class="media-body ms-3 d-flex">
									<div class="">
										<p class="tx-13 text-dark mb-0 tx-semibold">واژه‌نام۱.doc</p>
										<span class="tx-12 text-muted">35 کیلوبایت</span>
									</div>
									<div class="ms-auto my-auto">
										<a href="javascript:void(0);" class="btn px-0"><i class="fe fe-download my-auto text-muted tx-18"></i></a>
									</div>
								</div>
							</div>
							<div class="media">
								<p class="contact-icon text-warning m-0"><i class="mdi mdi-file-powerpoint"></i></p>
								<div class="media-body ms-3 d-flex">
									<div class="">
										<p class="tx-13 text-dark mb-0 tx-semibold">نمونه۱.ppt</p>
										<span class="tx-12 text-muted">54 کیلوبایت</span>
									</div>
									<div class="ms-auto my-auto">
										<a href="javascript:void(0);" class="btn px-0"><i class="fe fe-download my-auto text-muted tx-18"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Row -->


	</div>
</div>