<div class="product-slider py-30 site-slider">
    <div class="container-fluid">

        <div class="section-title">
            <div class="section-title-title">
                <h2 class="title-font h1">
                    محصولات <span class="main-color-two-color">مشابه</span>
                </h2>
                <div class="Dottedsquare"></div>
            </div>
        </div>

        <div class="swiper pro-slider swiper-initialized swiper-horizontal swiper-rtl swiper-backface-hidden">
            <div class="swiper-wrapper align-items-center" id="swiper-wrapper-7d38137bd5291431" aria-live="polite">
                <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 7" style="width: 301px; margin-left: 10px;">
                    <div class="product-box">
                        <div class="product-box-image">

                            <img src="assets/img/product/product-image1.jpg" loading="lazy" alt="" class="img-fluid one-image">
                            <img src="assets/img/product/product-image2.jpg" loading="lazy" alt="" class="img-fluid two-image">

                            <div class="color-box">
                                <div class="color-box-item" data-hint="نام رنگ مورد نظر" data-toggle="tooltip">
                                    <span class="color hint--top" style="background-color: #487eb0;"></span>
                                </div>
                                <div class="color-box-item" data-hint="نام رنگ مورد نظر" data-toggle="tooltip">
                                    <span class="color hint--top" style="background-color: #353b48;"></span>
                                </div>
                                <div class="color-box-item" data-hint="نام رنگ مورد نظر" data-toggle="tooltip">
                                    <span class="color hint--top" style="background-color: #7f8fa6;"></span>
                                </div>
                            </div>
                            <div class="product-box-price-discount">
                                <span class="d-block badge main-color-two-bg text-white font-14">25%</span>
                            </div>
                            <span class="product-box-image-overlay"></span>
                        </div>
                        <div class="product-box-title">
                            <a href="">
                                <h5 class="text-overflow-2">
                                    ساعت هوشمند شیائومی مدل Redmi Watch 2 Lite طرح بند
                                    سلیکونی
                                </h5>
                            </a>
                        </div>
                        <div class="product-box-suggest-price d-flex align-items-center justify-content-between">
                            <del class="font-16">5,000,000</del>
                            <ins class="font-25">2,500,000 <span>تومان</span></ins>
                        </div>
                        <div class="product-box-hover-action">

                            <nav class="navbar navbar-expand justify-content-center">
                                <ul class="navbar-nav align-items-center">
                                    <li class="nav-item">
                                        <a href="" class="nav-item product-box-hover-item me-3">مشاهده محصول</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-item product-box-hover-item product-box-hover-item-btn me-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="افزودن به سبد خرید"><i class="bi bi-basket"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-item product-box-hover-item product-box-hover-item-btn" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="افزودن به علاقه ها"><i class="bi bi-heart"></i></a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 7" style="width: 301px; margin-left: 10px;">
                    <div class="product-box">
                        <div class="product-box-image">

                            <img src="assets/img/product/product-image3.jpg" loading="lazy" alt="" class="img-fluid one-image">
                            <img src="assets/img/product/product-image4.jpg" loading="lazy" alt="" class="img-fluid two-image">

                            <div class="color-box">
                                <div class="color-box-item" data-hint="نام رنگ مورد نظر" data-toggle="tooltip">
                                    <span class="color hint--top" style="background-color: #f5cd79;"></span>
                                </div>
                                <div class="color-box-item" data-hint="نام رنگ مورد نظر" data-toggle="tooltip">
                                    <span class="color hint--top" style="background-color: #f8a5c2;"></span>
                                </div>
                                <div class="color-box-item" data-hint="نام رنگ مورد نظر" data-toggle="tooltip">
                                    <span class="color hint--top" style="background-color: #574b90;"></span>
                                </div>
                            </div>
                            <div class="product-box-price-discount">
                                <span class="d-block badge main-color-two-bg text-white font-14">25%</span>
                            </div>
                            <span class="product-box-image-overlay"></span>
                        </div>
                        <div class="product-box-title">
                            <a href="">
                                <h5 class="text-overflow-2">
                                    ساعت هوشمند شیائومی مدل Redmi Watch 2 Lite طرح بند
                                    سلیکونی
                                </h5>
                            </a>
                        </div>
                        <div class="product-box-suggest-price d-flex align-items-center justify-content-between">
                            <del class="font-16">5,000,000</del>
                            <ins class="font-25">2,500,000 <span>تومان</span></ins>
                        </div>
                        <div class="product-box-hover-action">

                            <nav class="navbar navbar-expand justify-content-center">
                                <ul class="navbar-nav align-items-center">
                                    <li class="nav-item">
                                        <a href="" class="nav-item product-box-hover-item me-3">مشاهده محصول</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-item product-box-hover-item product-box-hover-item-btn me-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="افزودن به سبد خرید"><i class="bi bi-basket"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-item product-box-hover-item product-box-hover-item-btn" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="افزودن به علاقه ها"><i class="bi bi-heart"></i></a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide" role="group" aria-label="3 / 7" style="width: 301px; margin-left: 10px;">
                    <div class="product-box">
                        <div class="product-box-image">

                            <img src="assets/img/product/product-image4.jpg" loading="lazy" alt="" class="img-fluid one-image">
                            <img src="assets/img/product/product-image5.jpg" loading="lazy" alt="" class="img-fluid two-image">

                            <div class="color-box">
                                <div class="color-box-item" data-hint="نام رنگ مورد نظر" data-toggle="tooltip">
                                    <span class="color hint--top" style="background-color: #8854d0;"></span>
                                </div>
                                <div class="color-box-item" data-hint="نام رنگ مورد نظر" data-toggle="tooltip">
                                    <span class="color hint--top" style="background-color: #e15f41;"></span>
                                </div>
                                <div class="color-box-item" data-hint="نام رنگ مورد نظر" data-toggle="tooltip">
                                    <span class="color hint--top" style="background-color: #ea8685;"></span>
                                </div>
                            </div>
                            <div class="product-box-price-discount">
                                <span class="d-block badge main-color-two-bg text-white font-14">25%</span>
                            </div>
                            <span class="product-box-image-overlay"></span>
                        </div>
                        <div class="product-box-title">
                            <a href="">
                                <h5 class="text-overflow-2">
                                    ساعت هوشمند شیائومی مدل Redmi Watch 2 Lite طرح بند
                                    سلیکونی
                                </h5>
                            </a>
                        </div>
                        <div class="product-box-suggest-price d-flex align-items-center justify-content-between">
                            <del class="font-16">5,000,000</del>
                            <ins class="font-25">2,500,000 <span>تومان</span></ins>
                        </div>
                        <div class="product-box-hover-action">

                            <nav class="navbar navbar-expand justify-content-center">
                                <ul class="navbar-nav align-items-center">
                                    <li class="nav-item">
                                        <a href="" class="nav-item product-box-hover-item me-3">مشاهده محصول</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-item product-box-hover-item product-box-hover-item-btn me-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="افزودن به سبد خرید"><i class="bi bi-basket"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-item product-box-hover-item product-box-hover-item-btn" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="افزودن به علاقه ها"><i class="bi bi-heart"></i></a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide" role="group" aria-label="4 / 7" style="width: 301px; margin-left: 10px;">
                    <div class="product-box">
                        <div class="product-box-image">

                            <img src="assets/img/product/wach1.jpg" loading="lazy" alt="" class="img-fluid one-image">
                            <img src="assets/img/product/wach2.jpg" loading="lazy" alt="" class="img-fluid two-image">

                            <div class="color-box">
                                <div class="color-box-item" data-hint="نام رنگ مورد نظر" data-toggle="tooltip">
                                    <span class="color hint--top" style="background-color: #2bcbba;"></span>
                                </div>
                                <div class="color-box-item" data-hint="نام رنگ مورد نظر" data-toggle="tooltip">
                                    <span class="color hint--top" style="background-color: #d1d8e0;"></span>
                                </div>
                                <div class="color-box-item" data-hint="نام رنگ مورد نظر" data-toggle="tooltip">
                                    <span class="color hint--top" style="background-color: #8854d0;"></span>
                                </div>
                            </div>
                            <div class="product-box-price-discount">
                                <span class="d-block badge main-color-two-bg text-white font-14">25%</span>
                            </div>
                            <span class="product-box-image-overlay"></span>
                        </div>
                        <div class="product-box-title">
                            <a href="">
                                <h5 class="text-overflow-2">
                                    ساعت هوشمند شیائومی مدل Redmi Watch 2 Lite طرح بند
                                    سلیکونی
                                </h5>
                            </a>
                        </div>
                        <div class="product-box-suggest-price d-flex align-items-center justify-content-between">
                            <del class="font-16">5,000,000</del>
                            <ins class="font-25">2,500,000 <span>تومان</span></ins>
                        </div>
                        <div class="product-box-hover-action">

                            <nav class="navbar navbar-expand justify-content-center">
                                <ul class="navbar-nav align-items-center">
                                    <li class="nav-item">
                                        <a href="" class="nav-item product-box-hover-item me-3">مشاهده محصول</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-item product-box-hover-item product-box-hover-item-btn me-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="افزودن به سبد خرید"><i class="bi bi-basket"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-item product-box-hover-item product-box-hover-item-btn" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="افزودن به علاقه ها"><i class="bi bi-heart"></i></a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide" role="group" aria-label="5 / 7" style="width: 301px; margin-left: 10px;">
                    <div class="product-box">
                        <div class="product-box-image">

                            <img src="assets/img/product/wach3.jpg" loading="lazy" alt="" class="img-fluid one-image">
                            <img src="assets/img/product/wach4.jpg" loading="lazy" alt="" class="img-fluid two-image">

                            <div class="color-box">
                                <div class="color-box-item" data-hint="نام رنگ مورد نظر" data-toggle="tooltip">
                                    <span class="color hint--top" style="background-color: #fc5c65;"></span>
                                </div>
                                <div class="color-box-item" data-hint="نام رنگ مورد نظر" data-toggle="tooltip">
                                    <span class="color hint--top" style="background-color: #fd9644;"></span>
                                </div>
                                <div class="color-box-item" data-hint="نام رنگ مورد نظر" data-toggle="tooltip">
                                    <span class="color hint--top" style="background-color: #fed330;"></span>
                                </div>
                            </div>
                            <div class="product-box-price-discount">
                                <span class="d-block badge main-color-two-bg text-white font-14">25%</span>
                            </div>
                            <span class="product-box-image-overlay"></span>
                        </div>
                        <div class="product-box-title">
                            <a href="">
                                <h5 class="text-overflow-2">
                                    ساعت هوشمند شیائومی مدل Redmi Watch 2 Lite طرح بند
                                    سلیکونی
                                </h5>
                            </a>
                        </div>
                        <div class="product-box-suggest-price d-flex align-items-center justify-content-between">
                            <del class="font-16">5,000,000</del>
                            <ins class="font-25">2,500,000 <span>تومان</span></ins>
                        </div>
                        <div class="product-box-hover-action">

                            <nav class="navbar navbar-expand justify-content-center">
                                <ul class="navbar-nav align-items-center">
                                    <li class="nav-item">
                                        <a href="" class="nav-item product-box-hover-item me-3">مشاهده محصول</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-item product-box-hover-item product-box-hover-item-btn me-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="افزودن به سبد خرید"><i class="bi bi-basket"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-item product-box-hover-item product-box-hover-item-btn" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="افزودن به علاقه ها"><i class="bi bi-heart"></i></a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide" role="group" aria-label="6 / 7" style="width: 301px; margin-left: 10px;">
                    <div class="product-box">
                        <div class="product-box-image">

                            <img src="assets/img/product/television1.jpg" loading="lazy" alt="" class="img-fluid one-image">
                            <img src="assets/img/product/television2.jpg" loading="lazy" alt="" class="img-fluid two-image">

                            <div class="color-box">
                                <div class="color-box-item" data-hint="نام رنگ مورد نظر" data-toggle="tooltip">
                                    <span class="color hint--top" style="background-color: #00a8ff;"></span>
                                </div>
                                <div class="color-box-item" data-hint="نام رنگ مورد نظر" data-toggle="tooltip">
                                    <span class="color hint--top" style="background-color: #8c7ae6;"></span>
                                </div>
                                <div class="color-box-item" data-hint="نام رنگ مورد نظر" data-toggle="tooltip">
                                    <span class="color hint--top" style="background-color: #273c75;"></span>
                                </div>
                            </div>
                            <div class="product-box-price-discount">
                                <span class="d-block badge main-color-two-bg text-white font-14">25%</span>
                            </div>
                            <span class="product-box-image-overlay"></span>
                        </div>
                        <div class="product-box-title">
                            <a href="">
                                <h5 class="text-overflow-2">
                                    ساعت هوشمند شیائومی مدل Redmi Watch 2 Lite طرح بند
                                    سلیکونی
                                </h5>
                            </a>
                        </div>
                        <div class="product-box-suggest-price d-flex align-items-center justify-content-between">
                            <del class="font-16">5,000,000</del>
                            <ins class="font-25">2,500,000 <span>تومان</span></ins>
                        </div>
                        <div class="product-box-hover-action">

                            <nav class="navbar navbar-expand justify-content-center">
                                <ul class="navbar-nav align-items-center">
                                    <li class="nav-item">
                                        <a href="" class="nav-item product-box-hover-item me-3">مشاهده محصول</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-item product-box-hover-item product-box-hover-item-btn me-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="افزودن به سبد خرید"><i class="bi bi-basket"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-item product-box-hover-item product-box-hover-item-btn" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="افزودن به علاقه ها"><i class="bi bi-heart"></i></a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide" role="group" aria-label="7 / 7" style="width: 301px; margin-left: 10px;">
                    <div class="product-box">
                        <div class="product-box-image">

                            <img src="assets/img/product/television3.jpg" loading="lazy" alt="" class="img-fluid one-image">
                            <img src="assets/img/product/television4.jpg" loading="lazy" alt="" class="img-fluid two-image">

                            <div class="color-box">
                                <div class="color-box-item" data-hint="نام رنگ مورد نظر" data-toggle="tooltip">
                                    <span class="color hint--top" style="background-color: #fbc531;"></span>
                                </div>
                                <div class="color-box-item" data-hint="نام رنگ مورد نظر" data-toggle="tooltip">
                                    <span class="color hint--top" style="background-color: #44bd32;"></span>
                                </div>
                                <div class="color-box-item" data-hint="نام رنگ مورد نظر" data-toggle="tooltip">
                                    <span class="color hint--top" style="background-color: #e84118;"></span>
                                </div>
                            </div>
                            <div class="product-box-price-discount">
                                <span class="d-block badge main-color-two-bg text-white font-14">25%</span>
                            </div>
                            <span class="product-box-image-overlay"></span>
                        </div>
                        <div class="product-box-title">
                            <a href="">
                                <h5 class="text-overflow-2">
                                    ساعت هوشمند شیائومی مدل Redmi Watch 2 Lite طرح بند
                                    سلیکونی
                                </h5>
                            </a>
                        </div>
                        <div class="product-box-suggest-price d-flex align-items-center justify-content-between">
                            <del class="font-16">5,000,000</del>
                            <ins class="font-25">2,500,000 <span>تومان</span></ins>
                        </div>
                        <div class="product-box-hover-action">

                            <nav class="navbar navbar-expand justify-content-center">
                                <ul class="navbar-nav align-items-center">
                                    <li class="nav-item">
                                        <a href="" class="nav-item product-box-hover-item me-3">مشاهده محصول</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-item product-box-hover-item product-box-hover-item-btn me-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="افزودن به سبد خرید"><i class="bi bi-basket"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-item product-box-hover-item product-box-hover-item-btn" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="افزودن به علاقه ها"><i class="bi bi-heart"></i></a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-7d38137bd5291431" aria-disabled="false"></div>
            <div class="swiper-button-prev swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-7d38137bd5291431" aria-disabled="true"></div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>
    </div>
</div>