@model BigEshop.Domain.ViewModels.WeblogCategory.UpdateWeblogCategoryViewModel

@{
    ViewData["Title"] = "ویرایش دسته بندی وبلاگ";
}

<h3 class="mt-4">@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="CategoryTitle" class="control-label"></label>
                <input asp-for="CategoryTitle" class="form-control" />
                <span asp-validation-for="CategoryTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ویرایش دسته بندی" class="btn btn-primary" />
                <a asp-area="admin" asp-controller="WeblogCategories" asp-action="Index" class="btn btn-secondary">بازگشت به لیست</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
