@model BigEshop.Domain.ViewModels.Payment.AddAdresToOrderViewModel

<form asp-area="" asp-controller="Payment" asp-action="PaymentDetails" method="post">

    <input type="hidden" asp-for="AdresId"/>

    <button type="submit" class="btn w-100 d-block main-color-green py-3">
        تکمیل فرایند خرید
    </button>

</form>
