

<div class="content">
    <div class="container-fluid">
        <div class="content-box" style="width: 1200px">
            <div class="container-fluid">
                <div class="order-list--empty">
                    <img src="img/empty-cart.svg" width="800" alt="">
                    <p class="order-list__empty-text">سبد خرید شما خالی است!</p>
                    <a href="/Products" class="btn main-color-one-outline border-2 mt-3 px-4 py-2">رفتن به فروشگاه</a>
                </div>
            </div>
        </div>
    </div>
</div>