<div class="container-fluid">
	<div class="inner-body">

		<!-- Page Header -->
		<div class="page-header">
			<div>
				<h2 class="main-content-title tx-24 mg-b-5">صندوق پستی</h2>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">برنامه ها</a></li>
					<li class="breadcrumb-item active" aria-current="page">صندوق پستی</li>
				</ol>
			</div>
			<div class="d-flex">
				<div class="justify-content-center">
					<button type="button" class="btn btn-white btn-icon-text my-2 me-2">
						وارد كردن<i class="fe fe-download me-2"></i>
					</button>
					<button type="button" class="btn btn-white btn-icon-text my-2 me-2">
						فیلتر<i class="fe fe-filter me-2"></i>
					</button>
					<button type="button" class="btn btn-primary my-2 btn-icon-text">
						گزارش را بارگیری کنید<i class="fe fe-download-cloud me-2"></i>
					</button>
				</div>
			</div>
		</div>
		<!-- End Page Header -->
		<!-- row -->
		<div class="row row-sm">
			<div class="col-xl-12 col-lg-12  main-content-body-mail1">
				<div class="card custom-card mail-container task-container overflow-hidden">
					<div class="inbox-body p-4">
						<div class="mail-option">
							<div class="chk-all border-0">
								<div class="btn-group">
									<a data-bs-toggle="dropdown" href="#" class="btn mini all" aria-expanded="false">
										همه
										<i class="fe fe-chevron-down"></i>
									</a>
									<ul class="dropdown-menu">
										<li><a href="#"> هیچ یک</a></li>
										<li><a href="#"> خواندن</a></li>
										<li><a href="#"> خوانده نشده</a></li>
									</ul>
								</div>
							</div>
							<div class="btn-group">
								<a data-original-title="Refresh" data-placement="top" data-bs-toggle="dropdown" href="#" class="btn mini tooltips">
									<i class="fe fe-refresh-cw"></i>
								</a>
							</div>
							<div class="btn-group hidden-phone">
								<a data-bs-toggle="dropdown" href="#" class="btn mini blue" aria-expanded="false">
									بیشتر
									<i class="fe fe-chevron-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#"> <i class="fe fe-edit me-2"></i> خوانده شده   </a></li>
									<li><a href="#"> <i class="fe fe fe-slash me-2"></i> هرزنامه ها </a></li>
									<li class="divider"></li>
									<li><a href="#"> <i class="fe fe-trash me-2"></i> حذف </a></li>
								</ul>
							</div>
							<ul class="unstyled inbox-pagination">
								<li><span>1-50 از 234</span></li>

								<li>
									<a class="btn np-btn" href="#"><i class="fe fe-chevron-right pagination-left"></i></a>
								</li>
							</ul>
						</div>
						<div class="table-responsive">
							<table class="table table-inbox text-md-nowrap table-hover text-nowrap">
								<tbody>
									<tr class="">
										<td class="inbox-small-cells">
											<label class="custom-control custom-checkbox mb-0">
												<input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
												<span class="custom-control-label"></span>
											</label>
										</td>
										<td class="inbox-small-cells"><i class="fa fa-star text-warning"></i></td>
										<td class="inbox-small-cells"><i class="fa fa-bookmark"></i></td>
										<td class="view-message dont-show font-weight-semibold">تیم رید  </td>
										<td class="view-message">ترافیک وب سایت خود را تقویت کنید</td>
										<td class="view-message text-right font-weight-semibold">01 اسفند</td>
									</tr>
									<tr class="">
										<td class="inbox-small-cells">
											<label class="custom-control custom-checkbox mb-0">
												<input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
												<span class="custom-control-label"></span>
											</label>
										</td>
										<td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
										<td class="inbox-small-cells"><i class="fa fa-bookmark"></i></td>
										<td class="view-message dont-show font-weight-semibold">فریلنسر </td>
										<td class="view-message">بازدید کنندگان خود را هدر ندهید </td>
										<td class="view-message text-right font-weight-semibold">23 مهر</td>
									</tr>
									<tr class="unread">
										<td class="inbox-small-cells">
											<label class="custom-control custom-checkbox mb-0">
												<input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
												<span class="custom-control-label"></span>
											</label>
										</td>
										<td class="inbox-small-cells"><i class="fa fa-star"></i></td>
										<td class="inbox-small-cells"><i class="fa fa-bookmark text-danger"></i></td>
										<td class="view-message  dont-show">PHP کلاس</td>
										<td class="view-message ">کلاس جدیدی اضافه شد: ورود سریع کلاس سریع سایت</td>
										<td class="view-message  text-right">9:27 صبح</td>
									</tr>

									<tr class="">
										<td class="inbox-small-cells">
											<label class="custom-control custom-checkbox mb-0">
												<input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
												<span class="custom-control-label"></span>
											</label>
										</td>
										<td class="inbox-small-cells"><i class="fa fa-star"></i></td>
										<td class="inbox-small-cells"><i class="fa fa-bookmark"></i></td>
										<td class="view-message dont-show font-weight-semibold">فیس بوک</td>
										<td class="view-message view-message">شخصی رمز عبور جدیدی درخواست کرده است </td>
										<td class="view-message text-right font-weight-semibold">13 بهمن</td>
									</tr>
									<tr class="">
										<td class="inbox-small-cells">
											<label class="custom-control custom-checkbox mb-0">
												<input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
												<span class="custom-control-label"></span>
											</label>
										</td>
										<td class="inbox-small-cells"><i class="fa fa-star text-warning"></i></td>
										<td class="inbox-small-cells"><i class="fa fa-bookmark"></i></td>
										<td class="view-message dont-show font-weight-semibold">اسکایپ</td>
										<td class="view-message view-message">رمز عبور با موفقیت تغییر یافت</td>
										<td class="view-message text-right font-weight-semibold">24 تیر</td>
									</tr>
									<tr class="">
										<td class="inbox-small-cells">
											<label class="custom-control custom-checkbox mb-0">
												<input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
												<span class="custom-control-label"></span>
											</label>
										</td>
										<td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
										<td class="inbox-small-cells"><i class="fa fa-bookmark"></i></td>
										<td class="view-message dont-show font-weight-semibold">گوگل</td>
										<td class="view-message">علیرضا میدونی؟</td>
										<td class="view-message text-right font-weight-semibold">09 تیر</td>
									</tr>
									<tr class="">
										<td class="inbox-small-cells">
											<label class="custom-control custom-checkbox mb-0">
												<input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
												<span class="custom-control-label"></span>
											</label>
										</td>
										<td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
										<td class="inbox-small-cells"><i class="fa fa-bookmark"></i></td>
										<td class="view-message dont-show font-weight-semibold"> کشویی </td>
										<td class="view-message">متن ساختگی</td>
										<td class="view-message text-right font-weight-semibold">14 تیر</td>
									</tr>
									<tr class="">
										<td class="inbox-small-cells">
											<label class="custom-control custom-checkbox mb-0">
												<input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
												<span class="custom-control-label"></span>
											</label>
										</td>
										<td class="inbox-small-cells"><i class="fa fa-star inbox-started text-warning"></i></td>
										<td class="inbox-small-cells"><i class="fa fa-bookmark"></i></td>
										<td class="view-message dont-show font-weight-semibold">لینک شده در </td>
										<td class="view-message">همان علامت که همکار شما با چاقو روبرو خواهد شد</td>
										<td class="view-message text-right font-weight-semibold">19 بهمن</td>
									</tr>
									<tr class="unread">
										<td class="inbox-small-cells">
											<label class="custom-control custom-checkbox mb-0">
												<input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
												<span class="custom-control-label"></span>
											</label>
										</td>
										<td class="inbox-small-cells"><i class="fa fa-star"></i></td>
										<td class="inbox-small-cells"><i class="fa fa-bookmark"></i></td>
										<td class="view-message dont-show font-weight-semibold">مدیر وب سایت  </td>
										<td class="view-message">حضور جستجو در وب سایت را بهبود ببخشید</td>
										<td class="view-message text-right font-weight-semibold">15 مهر</td>
									</tr>
									<tr class="">
										<td class="inbox-small-cells">
											<label class="custom-control custom-checkbox mb-0">
												<input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
												<span class="custom-control-label"></span>
											</label>
										</td>
										<td class="inbox-small-cells"><i class="fa fa-star"></i></td>
										<td class="inbox-small-cells"><i class="fa fa-bookmark"></i></td>
										<td class="view-message dont-show font-weight-semibold"> بازیکن</td>
										<td class="view-message">آخرین شانس: به حرفه ای برای ارتقا دهید کنید </td>
										<td class="view-message text-right font-weight-semibold">15 مهر</td>
									</tr>
									<tr class="">
										<td class="inbox-small-cells">
											<label class="custom-control custom-checkbox mb-0">
												<input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
												<span class="custom-control-label"></span>
											</label>
										</td>
										<td class="inbox-small-cells"><i class="fa fa-star"></i></td>
										<td class="inbox-small-cells"><i class="fa fa-bookmark"></i></td>
										<td class="view-message dont-show font-weight-semibold">انجمن دروپال</td>
										<td class="view-message view-message">به انجمن دروپال خوش آمدید</td>
										<td class="view-message text-right font-weight-semibold">04 تیر</td>
									</tr>

									<tr class="">
										<td class="inbox-small-cells">
											<label class="custom-control custom-checkbox mb-0">
												<input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
												<span class="custom-control-label"></span>
											</label>
										</td>
										<td class="inbox-small-cells"><i class="fa fa-star inbox-started text-warning"></i></td>
										<td class="inbox-small-cells"><i class="fa fa-bookmark"></i></td>
										<td class="dont-show font-weight-semibold">زوسک </td>
										<td class="view-message">7 تک آهنگ جدید که فکر می کنیم دوست داشته باشید</td>
										<td class="view-message text-right font-weight-semibold">14 مهر</td>
									</tr>
									<tr class="">
										<td class="inbox-small-cells">
											<label class="custom-control custom-checkbox mb-0">
												<input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
												<span class="custom-control-label"></span>
											</label>
										</td>
										<td class="inbox-small-cells"><i class="fa fa-star"></i></td>
										<td class="inbox-small-cells"><i class="fa fa-bookmark text-danger"></i></td>
										<td class="view-message dont-show font-weight-semibold">لینک شده در </td>
										<td class="view-message">علیرضا: شبکه های نوکیا ، گروه سیستم و </td>
										<td class="view-message text-right font-weight-semibold">25 بهمن</td>
									</tr>
									<tr class="">
										<td class="inbox-small-cells">
											<label class="custom-control custom-checkbox mb-0">
												<input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
												<span class="custom-control-label"></span>
											</label>
										</td>
										<td class="inbox-small-cells"><i class="fa fa-star"></i></td>
										<td class="inbox-small-cells"><i class="fa fa-bookmark"></i></td>
										<td class="dont-show font-weight-semibold">فیس بوک</td>
										<td class="view-message view-message">حساب شما اخیراً وارد سیستم شده است</td>
										<td class="view-message text-right font-weight-semibold">14 تیر</td>
									</tr>
									<tr class="">
										<td class="inbox-small-cells">
											<label class="custom-control custom-checkbox mb-0">
												<input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
												<span class="custom-control-label"></span>
											</label>
										</td>
										<td class="inbox-small-cells"><i class="fa fa-star"></i></td>
										<td class="inbox-small-cells"><i class="fa fa-bookmark"></i></td>
										<td class="view-message dont-show font-weight-semibold">توییتر</td>
										<td class="view-message">رمز عبور توییتر شما تغییر کرده است</td>
										<td class="view-message text-right font-weight-semibold">07 اسفند</td>
									</tr>
									<tr class="">
										<td class="inbox-small-cells">
											<label class="custom-control custom-checkbox mb-0">
												<input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
												<span class="custom-control-label"></span>
											</label>
										</td>
										<td class="inbox-small-cells"><i class="fa fa-star"></i></td>
										<td class="inbox-small-cells"><i class="fa fa-bookmark"></i></td>
										<td class="view-message dont-show font-weight-semibold">بیننده اینترنت</td>
										<td class="view-message">گزارش عملکرد</td>
										<td class="view-message text-right font-weight-semibold">14 دی</td>
									</tr>
									<tr class="">
										<td class="inbox-small-cells">
											<label class="custom-control custom-checkbox mb-0">
												<input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
												<span class="custom-control-label"></span>
											</label>
										</td>
										<td class="inbox-small-cells"><i class="fa fa-star"></i></td>
										<td class="inbox-small-cells"><i class="fa fa-bookmark text-danger"></i></td>
										<td class="view-message dont-show font-weight-semibold">برتینا </td>
										<td class="view-message">مهم: دامنه های خود را از دست ندهید!</td>
										<td class="view-message text-right font-weight-semibold">16 بهمن</td>
									</tr>
									<tr class="">
										<td class="inbox-small-cells">
											<label class="custom-control custom-checkbox mb-0">
												<input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
												<span class="custom-control-label"></span>
											</label>
										</td>
										<td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
										<td class="inbox-small-cells"><i class="fa fa-bookmark text-danger"></i></td>
										<td class="view-message dont-show font-weight-semibold">لورا گافین </td>
										<td class="view-message">وب سایت شما در گوگل (رتبه های بالاتر بهتر هستند)</td>
										<td class="view-message text-right font-weight-semibold">10اسفند</td>
									</tr>
									<tr class="">
										<td class="inbox-small-cells">
											<label class="custom-control custom-checkbox mb-0">
												<input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
												<span class="custom-control-label"></span>
											</label>
										</td>
										<td class="inbox-small-cells"><i class="fa fa-star"></i></td>
										<td class="inbox-small-cells"><i class="fa fa-bookmark"></i></td>
										<td class="view-message dont-show font-weight-semibold">فیس بوک</td>
										<td class="view-message view-message">علیرضا زارع ورود به سیستم</td>
										<td class="view-message text-right font-weight-semibold">14 بهمن</td>
									</tr>
									<tr class="">
										<td class="inbox-small-cells">
											<label class="custom-control custom-checkbox mb-0">
												<input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
												<span class="custom-control-label"></span>
											</label>
										</td>
										<td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
										<td class="inbox-small-cells"><i class="fa fa-bookmark"></i></td>
										<td class="view-message dont-show font-weight-semibold">متن</td>
										<td class="view-message">وب سایت خود را به فهرست کسب و کار اضافه کن ارسال کنید</td>
										<td class="view-message text-right font-weight-semibold">10اسفند</td>
									</tr>
									<tr class="">
										<td class="inbox-small-cells">
											<label class="custom-control custom-checkbox mb-0">
												<input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
												<span class="custom-control-label"></span>
											</label>
										</td>
										<td class="inbox-small-cells"><i class="fa fa-star"></i></td>
										<td class="inbox-small-cells"><i class="fa fa-bookmark"></i></td>
										<td class="view-message dont-show font-weight-semibold">تری رکسر </td>
										<td class="view-message view-message">گوگل  را فراموش کنید: کلیکهای بدون محدودیت برای</td>
										<td class="view-message text-right font-weight-semibold">14 اسفند</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!-- mail-content -->
				</div>
			</div>
		</div>
		<!-- /row -->

	</div>
</div>