@using BigEshop.Application.Extensions
@using BigEshop.Application.Statics
@using BigEshop.Domain.Models.Product
@using BigEshop.Domain.ViewModels.ProductCategory
@model List<BigEshop.Domain.Models.ProductCategory.ProductCategory>

@{
    // var watches = ViewData["Watch"] as List<Product> ?? new List<Product>();
    // var mobiles = ViewData["Mobiles"] as List<Product> ?? new List<Product>();
    // var tablets = ViewData["Tablets"] as List<Product> ?? new List<Product>();
    //var categories = ViewData["Categories"] as List<ProductCategoryViewModel> ?? new List<ProductCategoryViewModel>();
}


<div class="section-title">
    <div class="row gy-3 align-items-center">
        <div class="col-sm-8">
            <div class="section-title-title">
                <h2 class="title-font h1">
                    جدید ترین <span class="main-color-two-color">محصولات</span>
                </h2>
                <div class="Dottedsquare"></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="section-title-link text-sm-end text-start">
                <a class="btn main-color-two-bg border-0" asp-controller="Product" asp-action="Index">
                    مشاهده همه
                </a>
            </div>
        </div>
    </div>
</div>

<div class="tab-product-nav">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        @foreach(var item in Model)
        {
            var firstCategory = Model.FirstOrDefault();

            <li class="nav-item" role="presentation">
                <h3>
                    <a onclick="showCategorizedProduct('@item.Id')"
                        class="nav-link @(item.Id == firstCategory?.Id ? "active" : "")"
                       id="laptop-tab" data-bs-toggle="tab" data-bs-target="#laptop-tab-pane"
                       type="button" role="tab" aria-controls="laptop-tab-pane" aria-selected="true"
                    >
                        <h3>@item.Title</h3>
                    </a>
                </h3>
            </li>
        }
    </ul>
</div>




