@using BigEshop.Application.Extensions
@using BigEshop.Domain.Models.Product
@using BigEshop.Domain.Models.ProductCategory
@model List<BigEshop.Domain.Models.Order.OrderDetail>

@{
    var productReactions = ViewData["ProductReactions"] as List<ProductReaction> ?? new List<ProductReaction>();
    var categories = ViewData["ProductCategories"] as List<ProductCategory> ?? new List<ProductCategory>();
}


<div class="mega-menu menu mega-menu-top d-lg-block d-none">
    <div class="container-fluid">
        <div class="top-menu-parent">
            <div class="row align-items-center">
                <div class="col-lg-9 col-xl-8">
                    <div class="top-menu-menu">
                        <ul class="navbar-nav align-items-center">
                            <li class="position-relative m-0"></li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link border-animate fromCenter"><i class="bi bi-menu-app"></i>دسنه بندی کالاها</a>
                                <ul class="level-one">
                                    <li class="position-relative">
                                        <a href="javascript:void(0)">کالای دیجیتال<i class="bi bi-chevron-left"></i></a>
                                        <ul class="level-two">
                                            <li><a asp-controller="Product" asp-action="Index" asp-route-CategoryId="2">موبایل</a></li>
                                            <li><a asp-controller="Product" asp-action="Index" asp-route-CategoryId="4">لپ تاپ</a></li>
                                            <li><a asp-controller="Product" asp-action="Index" asp-route-CategoryId="5">تبلت</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="javascript:void(0)">لوازم خانگی</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Home" asp-action="Contact" class="nav-link border-animate fromCenter">
                                    <i class="bi bi-envelope-at"></i>تماس با ما
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Home" asp-action="ShowWeblogs" class="nav-link border-animate fromCenter">
                                    <i class="bi bi-newspaper"></i>وبلاگ
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-xl-4">
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="d-flex align-items-center top-header-call d-xl-flex d-none">
                            <div class="top-header-call-title me-3">
                                <h6 class="text-center h5">021-12345678</h6>
                                <p class="text-muted">پشتیبانی 24 ساعته</p>
                            </div>
                            <div class="top-header-call-icon">
                                <i class="bi bi-telephone-forward fs-3"></i>
                            </div>
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="d-flex align-items-center justify-content-end ms-5">
                                <a asp-area="UserPanel" asp-controller="Favorite" asp-action="Index"
                                    class="btn-favorite-items highlight">
                                    <i class="bi bi-heart"></i>
                                    <span>@productReactions.Count()</span>
                                </a>
                                <a 
                                   class="btn-cart-counter ms-2" data-bs-toggle="offcanvas" href="#offcanvasCart" role="button"
                                   aria-controls="offcanvasCart">
                                    <span class="text-white me-3">@Model.Sum(c => c.Quantity)</span>
                                    <i class="bi bi-basket"></i>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
