@model BigEshop.Domain.ViewModels.Chat.AddChatQuestionViewModel

<form 
    asp-area=""
    asp-controller="Home"
    asp-action="Chat"
    method="post"
    data-ajax="true"
    data-ajax-method="post"
    >
    <div class="row">
        <div class="col-12 mb-3">
            <label asp-for="Text" class="form-label"></label>
            <textarea asp-for="Text" class="form-control"></textarea>>
        </div>
        <div class="col-12">
            <input type="submit" value="پرسش سوال" class="btn btn-success"/>
        </div>
    </div>
</form>