@using BigEshop.Domain.Models.Product

@{
    ViewData["Title"] = "خانه";
}

<!-- start main slider -->

<div class="main-slider">
    <div class="container-fluid">
        <div class="row gy-3">
            <div class="col-xl-3 col-lg-4 orderlgl-1 order-2">
                <div class="slider-parent-two">
                    <div class="suggest-moment-parent">

                        <div class="swiper suggetMoment">
                            <div class="swiper-wrapper position-relative">
                                <div class="swiper-slide">
                                    <div class="product-box-suggest">
                                        <div class="product-box-suggest-image">
                                            <img src="/img/product/product-image1.jpg" alt="">
                                        </div>
                                        <div class="product-box-suggest-title">
                                            <h6 class="text-overflow-1">لپ تاپ 16 اینچی ایسوس مدل Vivobook X1605ZA-MB500-i7 8GB 512SSD</h6>
                                        </div>
                                        <div class="product-box-suggest-price">
                                            <del>5,000,000</del>
                                            <ins>2,500,000 <span>تومان</span></ins>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-box-suggest">
                                        <div class="product-box-suggest-image">
                                            <img src="/img/product/product-image2.jpg" alt="">
                                        </div>
                                        <div class="product-box-suggest-title">
                                            <h6 class="text-overflow-1">لپ تاپ 16 اینچی ایسوس مدل Vivobook X1605ZA-MB500-i7 8GB 512SSD</h6>
                                        </div>
                                        <div class="product-box-suggest-price">
                                            <del>5,000,000</del>
                                            <ins>2,500,000 <span>تومان</span></ins>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-box-suggest">
                                        <div class="product-box-suggest-image">
                                            <img src="/img/product/product-image3.jpg" alt="">
                                        </div>
                                        <div class="product-box-suggest-title">
                                            <h6 class="text-overflow-1">لپ تاپ 16 اینچی ایسوس مدل Vivobook X1605ZA-MB500-i7 8GB 512SSD</h6>
                                        </div>
                                        <div class="product-box-suggest-price">
                                            <del>5,000,000</del>
                                            <ins>2,500,000 <span>تومان</span></ins>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-progress-bar">
                                <span class="slide_progress-bar"></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 order-lg-2 order-1">
                <div class="slider slider-parent">
                    <div class="swiper homeSlider" id="">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="">
                                    <img src="/img/slider-1.jpg" loading="lazy" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="">
                                    <img src="/img/slider-3.jpg" loading="lazy" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="">
                                    <img src="/img/slider-2.jpg" loading="lazy" class="img-fluid" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-button-next d-lg-flex d-none"></div>
                        <div class="swiper-button-prev d-lg-flex d-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end main slider -->
<!-- start categories -->

@await Component.InvokeAsync("Category")

<!-- end categories -->
<!-- start amazing -->

@await Component.InvokeAsync("AmazingProduct")

<!-- end amazing -->
<!-- start advert -->

<div class="advert py-30">
    <div class="container-fluid">
        <div class="row gy-4">
            <div class="col-lg-6">
                <a href="">
                    <img src="/img/advert-1.png" class="w-100" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a href="">
                    <img src="/img/advert-2.png" class="w-100" alt="">
                </a>
            </div>
        </div>
    </div>
</div>

<!-- end advert -->
<!-- start product slider -->

@await Component.InvokeAsync("MostVisit")

<!-- end product slider -->
<!-- start advert -->

<div class="advert py-30 d-lg-block d-none">
    <div class="container-fluid">
        <div class="row gx-2 gy-4">
            <div class="col-lg-6">
                <a href="">
                    <img src="/img/advert-3.jpg" class="w-100 rounded-4" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a href="">
                    <img src="/img/advert-4.jpg" class="w-100 rounded-4" alt="">
                </a>
            </div>
        </div>
    </div>
</div>

<!-- end advert -->
<!-- start amazing slider-two -->

<div class="amazing-slider-two pb-0 py-30">
    <div class="container-fluid position-relative">
        <div class="amazing-slider-two-parent">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="amazing-slider-two-title">
                        <p class="main-color-two-color title-font h6">پیشنهاد</p>
                        <h6 class="title-font">شگفت انگیز</h6>
                        <a href="" class="btn btn-sm btn-dark">مشاهده همه</a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="swiper amazing-slider-two-sw">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="">
                                    <div class="amazing-slider-two-item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="amazing-slider-two-item-timer">
                                                    <div class='countdown' data-date="2027-01-01" data-time="18:30">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="amazing-slider-two-item-image">
                                                    <img src="/img/product/wach1.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="amazing-slider-two-item-title">
                                                    <h5 class="text-overflow-2 title-font">
                                                        ساعت هوشمند شیائومی مدل Redmi Watch 2 Lite طرح بند
                                                        سلیکونی پاور مود جدید 2024
                                                    </h5>
                                                </div>
                                                <div class="amazing-slider-two-item-feature">
                                                    <ul>
                                                        <li>جنس: <span>پارچه ترک</span></li>
                                                        <li> طرح: <span>ساده</span></li>
                                                        <li>قد: <span>کوتاه</span></li>
                                                        <li>یقه: <span>شل</span></li>
                                                        <li>توع لباس: <span>معمولی</span></li>
                                                    </ul>
                                                </div>
                                                <div class="amazing-slider-two-item-discount">
                                                    <div class="amazing-slider-two-item-discount-discount">
                                                        <del>1,340,000</del>
                                                        <ins>35%</ins>
                                                    </div>
                                                    <div class="amazing-slider-two-item-discount-price">
                                                        <h4>999,000</h4>
                                                        <span> تومان </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="">
                                    <div class="amazing-slider-two-item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="amazing-slider-two-item-timer">
                                                    <div class='countdown' data-date="2027-01-01" data-time="18:30">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="amazing-slider-two-item-image">
                                                    <img src="/img/product/wach2.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="amazing-slider-two-item-title">
                                                    <h5 class="text-overflow-2 title-font">
                                                        ساعت هوشمند شیائومی مدل Redmi Watch 2 Lite طرح بند
                                                        سلیکونی پاور مود جدید 2024
                                                    </h5>
                                                </div>
                                                <div class="amazing-slider-two-item-feature">
                                                    <ul>
                                                        <li>جنس: <span>پارچه ترک</span></li>
                                                        <li> طرح: <span>ساده</span></li>
                                                        <li>قد: <span>کوتاه</span></li>
                                                        <li>یقه: <span>شل</span></li>
                                                        <li>توع لباس: <span>معمولی</span></li>
                                                    </ul>
                                                </div>
                                                <div class="amazing-slider-two-item-discount">
                                                    <div class="amazing-slider-two-item-discount-discount">
                                                        <del>1,340,000</del>
                                                        <ins>35%</ins>
                                                    </div>
                                                    <div class="amazing-slider-two-item-discount-price">
                                                        <h4>999,000</h4>
                                                        <span> تومان </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="">
                                    <div class="amazing-slider-two-item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="amazing-slider-two-item-timer">
                                                    <div class='countdown' data-date="2027-01-01" data-time="18:30">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="amazing-slider-two-item-image">
                                                    <img src="/img/product/wach3.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="amazing-slider-two-item-title">
                                                    <h5 class="text-overflow-2 title-font">
                                                        ساعت هوشمند شیائومی مدل Redmi Watch 2 Lite طرح بند
                                                        سلیکونی پاور مود جدید 2024
                                                    </h5>
                                                </div>
                                                <div class="amazing-slider-two-item-feature">
                                                    <ul>
                                                        <li>جنس: <span>پارچه ترک</span></li>
                                                        <li> طرح: <span>ساده</span></li>
                                                        <li>قد: <span>کوتاه</span></li>
                                                        <li>یقه: <span>شل</span></li>
                                                        <li>توع لباس: <span>معمولی</span></li>
                                                    </ul>
                                                </div>
                                                <div class="amazing-slider-two-item-discount">
                                                    <div class="amazing-slider-two-item-discount-discount">
                                                        <del>1,340,000</del>
                                                        <ins>35%</ins>
                                                    </div>
                                                    <div class="amazing-slider-two-item-discount-price">
                                                        <h4>999,000</h4>
                                                        <span> تومان </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="">
                                    <div class="amazing-slider-two-item">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="amazing-slider-two-item-timer">
                                                    <div class='countdown' data-date="2027-01-01" data-time="18:30">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="amazing-slider-two-item-image">
                                                    <img src="/img/product/wach4.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="amazing-slider-two-item-title">
                                                    <h5 class="text-overflow-2 title-font">
                                                        ساعت هوشمند شیائومی مدل Redmi Watch 2 Lite طرح بند
                                                        سلیکونی پاور مود جدید 2024
                                                    </h5>
                                                </div>
                                                <div class="amazing-slider-two-item-feature">
                                                    <ul>
                                                        <li>جنس: <span>پارچه ترک</span></li>
                                                        <li> طرح: <span>ساده</span></li>
                                                        <li>قد: <span>کوتاه</span></li>
                                                        <li>یقه: <span>شل</span></li>
                                                        <li>توع لباس: <span>معمولی</span></li>
                                                    </ul>
                                                </div>
                                                <div class="amazing-slider-two-item-discount">
                                                    <div class="amazing-slider-two-item-discount-discount">
                                                        <del>1,340,000</del>
                                                        <ins>35%</ins>
                                                    </div>
                                                    <div class="amazing-slider-two-item-discount-price">
                                                        <h4>999,000</h4>
                                                        <span> تومان </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-button-next d-lg-flex d-none"></div>
                        <div class="swiper-button-prev d-lg-flex d-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end amazing slider-two -->
<!-- start tab product -->


<div class="tab-product py-30 site-slider">
    <div class="container-fluid">

     @await Component.InvokeAsync("LatestProduct")
     @* <partial name="_CategorizedProduct" /> *@
     @* <partial name="_LatestProduct" /> *@

    </div>
</div>
<!-- end tab product -->
<!-- start blog slider -->

@await Component.InvokeAsync("AllWeblog")

<!-- end blog slider -->

