@model BigEshop.Domain.ViewModels.ProductGallery.CreateProductGalleryViewModel

@{
    ViewData["Title"] = "افزودن عکس به گالری محصول";
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <input type="hidden" asp-for="ProductId"/>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ImageTitle" class="control-label"></label>
                <input asp-for="ImageTitle" class="form-control" />
                <span asp-validation-for="ImageTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ثبت" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="ProductGalleries" asp-action="Index" asp-route-ProductId="@Model.ProductId">برگشت به لیست</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
