@model BigEshop.Domain.ViewModels.Role.FilterRoleViewModel

@{
    ViewData["Title"] = "لیست نثش ها";
}

<p>
    <a asp-action="Create">ایجاد نقش جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Entities) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-info">
                    <i class="fe fe-edit-2"></i>
                </a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
                    <i class="fe fe-trash"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
